<!DOCTYPE html>
<html>
<head>
    <title>录入原材料</title>
</head>
<body>
<h1>录入原材料</h1>
<a href="/">返回首页</a>
<form action="/material/{{ entry.get('_id','') }}" method="POST">
    <p>名称：<input type="text" name="name" value="{{ entry.get('name','') }}" autofocus="autofocus" required="required"/></p>
    <p>价格：<input type="text" name="sumPrice" value="{{ entry.get('sumPrice',0) }}" pattern="[0-9]+.[0-9]{0,2}" required="required"/>元</p>
    <p>数量：<input type="number" name="sumNum" value="{{ entry.get('sumNum',0) }}" min="0" required="required"/></p>
    <p>尺寸：<input type="text" value="{{ entry.get('size','') }}" name="size"/></p>
    <p>备注：<textarea name="description">{{ entry.get('description','') }}</textarea></p>
    <p>单价：<span>{{ round(entry.get('unitPrice',0),2) }}</span>元</p>
    <input type="submit" value="确定"/>
</form>
</body>
</html>